* {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*Button used to open the contact form*/
.openButton {
    background-color: cyan;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    width: 200px;
    border-radius: 5px;
    animation: intro 1s;
    transition: .2s ease-in;
}
/*Popup menu*/
.formPopup {
    width: 50vw;
    border: 2px solid #000;
    opacity: .9;
    z-index: 9;
}

/*Form container*/
.formContainer {
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 100%;
    border: none;
    background: #000;
    opacity: .5;
}

.formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/*buttons*/

.submit {
    background-color: rgb(0, 255, 0);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin: 10px 100% 10px 0;
    opacity: .8;
    transition: .2s ease-in;
}

.formContainer .close{
    background-color: red;
}

.formContainer .submit:hover, .openButton:hover, .close:hover{
    opacity: 1;
}

/*Image*/

.formContainer .pic {
    height: 50px;
    width: 50px;
    border: none;
    display: block;
}

.formContainer .pic {
    animation: zoom .7s forwards
}

/*scroll buttons*/

.top, .bottom {
    width: 100px;
}

.bottom {
    margin: 1000px auto;
    top: 1080px;
}

/*Animations*/

@keyframes intro {
    from {top: -200px}
    to {top: 0}

}

@keyframes zoom {
    0% {transform: scale(1, 1)}
    50% {transform: scale(1.5, 1.5)}
    100% {transform: scale(1, 1)}
}

/*Slideshow. https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/*/
#slideshow {
    margin: 80px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }