* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Button used to open the contact form - fixed at the bottom of the page*/
.openButton {
    background-color: cyan;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    position: relative;
    width: 280px;
}